* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

body {
    background-color: #F8F8F8;
}


/* APP */

.app {
    position: relative;
    min-height: 100vh;
    display: flex;
}


/* OVERLAY */

.overlay {
    position: fixed;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.4);

    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;

    z-index: 900;
}

.overlay.show-overlay {
    opacity: 1;
    visibility: visible;
}


/* SIDEBAR */

aside.sidebar {
    position: fixed;

    top: 0;
    left: 0;

    min-width: 239px;
    min-height: 100vh;

    background-color: #fff;

    z-index: 1000;

    transition: transform 0.3s ease;
}

.sidebar .image-container {
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E7E9EC;
}

.sidebar .links-container {
    display: flex;
    flex-direction: column;
    padding: 30px 16px;
    row-gap: 28px;
}

.sidebar .links-container .sidebar-link {
    display: flex;
    align-items: center;
    column-gap: 16px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #56687A;
}

.sidebar .links-container .sidebar-link.active {
    color: #0E2741;
    font-weight: 600;
}

.sidebar .links-container .sidebar-link img {
    height: 24px;
    width: 24px;
}

.sidebar-link .active-icon {
    display: none;
}

.sidebar-link .inactive-icon {
    display: inline-block;
}

/* ACTIVE STATE: swap icons */
.sidebar-link.active .active-icon {
    display: inline-block;
}

.sidebar-link.active .inactive-icon {
    display: none;
}




/* LAYOUT */
/* zzz */
.layout {
    margin-left: 239px;
    width: calc(100% - 239px);
    /* FIXED */
    min-height: 100vh;
    position: relative;
}


/* HEADER */

.header {
    position: fixed;
    top: 0;
    right: 0;

    width: calc(100% - 239px);
    /* FIXED */

    padding: 27px 30px;
    background-color: #fff;

    border-left: 1px solid #E7E9EC;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 12px;

    z-index: 800;

    box-sizing: border-box;
}


/* LEFT HEADER */

.left-header {
    display: flex;
    align-items: center;

    column-gap: 20px;

    flex-grow: 1;
}


/* BUTTON */

.icon-btn {
    border: none;
    background: transparent;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* HAMBURGER */

.hamburger {
    width: 27px;
    height: 27px;
}


/* SEARCH COMPONENT */

.search-component {
    position: relative;

    width: 100%;
    max-width: 388px;
}


/* HIDE CHECKBOX */

.search-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


/* MOBILE SEARCH ICON */

.mobile-search-icon {
    display: none;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color: #F8F8F8;

    cursor: pointer;

    align-items: center;
    justify-content: center;
}

.mobile-search-icon img {
    width: 18px;
    height: 18px;
}


/* SEARCH BAR */

.search-div {
    position: relative;
    width: 100%;
}

.search-div input.search {
    width: 100%;
    height: 38px;

    border: 1px solid #B7BEC6;
    border-radius: 19px;

    background-color: #F8F8F8;

    padding-left: 43px;

    font-size: 14px;
}

.search-div img {
    position: absolute;

    left: 16px;
    top: 50%;

    transform: translateY(-50%);

    width: 16px;
    height: 16px;
}

input:focus {
    outline: none;
}


/* RIGHT HEADER */

.right-header {
    display: flex;
    align-items: center;

    column-gap: 20px;
}


/* NOTIFICATION */

.notification {
    position: relative;
}

.notification-bell {
    width: 24px;
    height: 25px;
}

.notification-count {
    position: absolute;

    top: -10px;
    right: -5px;

    width: 18px;
    height: 18px;

    border-radius: 50%;

    background-color: #DA3B30;
    color: #fff;

    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* PROFILE */

.profile-component {
    position: relative;
}


/* HIDE CHECKBOX */

.profile-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


/* PROFILE TRIGGER */

.profile-trigger {
    display: flex;
    align-items: center;

    column-gap: 10px;

    cursor: pointer;
}


/* NAME ROLE */

.name-role {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.role {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    color: #56687A;
}


/* MOBILE PROFILE DROPDOWN */

.profile-dropdown-mobile {
    display: none;
}


/* MAIN */

/* main{
    padding: 120px 30px 30px;
} */

main {
    padding-left: 30px;
    padding-top: 132px;
    padding-bottom: 30px;
    padding-right: 30px;

    row-gap: 30px;
    display: flex;
    flex-direction: column;
}

main h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.card-title h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    gap: 20px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

form.content-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form.content-form input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    outline: none;
    background: none;

    margin: 0;
    padding: 16px;

    font: inherit;
    color: inherit;

    width: 100%;
    max-width: 374px;

    border-radius: 16px;
    font-size: 16px;

    border: 1px solid #CFD4D9;
}

form.content-form textarea{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    outline: none;
    background: none;

    margin: 0;
    padding: 16px;

    font: inherit;
    color: inherit;

    width: 100%;
    max-width: 560px;

    border-radius: 16px;
    font-size: 16px;

    border: 1px solid #CFD4D9;

    resize: none;
}

form.content-form textarea:focus{
    outline: none;
    box-shadow: none;
    border-color: #CFD4D9;
}

button.save{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    outline: none;
    background: none;
    padding-top:16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 16px;
    background-color: #DA3B30;
    color: #fff;
}

button.publish{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    outline: none;
    background: none;
    padding-top:16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 16px;
    background-color: #FBEBEA;
    color: #DA3B30;
}

button.cancel{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    outline: none;
    background: none;
    padding-top:16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 16px;
    background-color: #fff;
    color: #DA3B30;
    border: 1px solid #DA3b30
}


/* MOBILE */

@media (max-width: 768px) {

    /* SIDEBAR */

    aside.sidebar {
        transform: translateX(-100%);
    }

    aside.sidebar.show-sidebar {
        transform: translateX(0);
    }


    /* LAYOUT */

    .layout {
        margin-left: 0;
        width: 100%;
    }



    /* HEADER */

    .header {
        width: 100%;
        border-left: none;
        padding-left: 16px;
        padding-right: 16px;
    }


    /* SEARCH */

    .search-component {
        width: auto;
    }

    .mobile-search-icon {
        display: flex;
    }

    .search-div {
        position: fixed;

        top: 85px;
        left: 16px;
        right: 16px;

        width: auto;

        opacity: 0;
        visibility: hidden;

        transform: translateY(-10px);

        transition: 0.25s ease;

        z-index: 1200;
    }

    .search-toggle:checked~.search-div {
        opacity: 1;
        visibility: visible;

        transform: translateY(0);
    }


    /* PROFILE */

    .profile-trigger .name-role {
        display: none;
    }

    .profile-dropdown-mobile {
        display: block;

        position: absolute;

        top: 55px;
        right: 0;

        min-width: 180px;

        background-color: #fff;

        border: 1px solid #E7E9EC;
        border-radius: 12px;

        padding: 14px;

        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

        opacity: 0;
        visibility: hidden;

        transform: translateY(-10px);

        transition: 0.25s ease;

        z-index: 1200;
    }

    .mobile-profile-content {
        display: flex;
        align-items: center;

        column-gap: 10px;
    }

    .profile-toggle:checked~.profile-dropdown-mobile {
        opacity: 1;
        visibility: visible;

        transform: translateY(0);
    }

    form.content-form .form-actions{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 480px) {

    /* =========================
       MODAL (mobile fix)
    ========================= */
    .modal {
        width: 90%;
        max-width: 320px;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%) scale(1);
    }

    /* optional: reduce spacing inside */
    .modal span {
        margin-top: 20px;
        font-size: 14px;
        line-height: 22px;
    }

    .modal-actions {
        width: 100%;
        flex-direction: column;
    }

    .btn-danger,
    .btn-cancel {
        width: 100%;
    }


    /* =========================
       TOAST (mobile fix)
    ========================= */
    .toast {
        width: 90%;
        max-width: 320px;

        left: 50%;
        right: auto;

        transform: translate(-50%, 20px);
    }

    .toast.show {
        transform: translate(-50%, 0);
    }
}